body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.clockContainer{
    width: 10%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.411);
    color: azure;
    justify-content: center;
    margin: auto;
    border-radius: 25%;
}
.clockContainer h2{
    font-size: 50px;
}
.backgroundContainer{
    min-height: 100vh;
    background:linear-gradient(rgba(5, 243, 5, 0.11),rgba(25, 247, 255, 0.144)), url(https://source.unsplash.com/random) no-repeat;
    background-size: cover;
    background-position: center;
}
footer{
    
}
footer button{
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: none;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    margin: 0.5%;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    background-color: rgba(158, 158, 158, 0.37);
}
#card1{
    position: relative;
}
#card1 h2{
    
}
#card1 button{
    position: absolute;
    bottom:0%;
    justify-content: center;
}
.modal{
    display: none;
}
/*Test style for close modal button and icon */
#closeButton{
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
}
#closeButton :hover{
    transform: scale(1.2);
    transition: transform 0.3s;
}
.modal i{
    font-size: 30px;
    color: rgb(70, 68, 68);
}